<div class="row">
  <div class="col s12 m6">
    <div class="card white">
      <div class="card-content black-text">
        <p>削除が完了致しました。</p>
      </div>
      <div class="card-action">
        <a class="btn" href="/">投稿一覧へ戻る</a>
      </div>
    </div>
  </div>
</div>
